/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

h2 {
    margin: 0;
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    /*background-color: #F6F6F2;*/
/*    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );*/
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    /*text-transform:uppercase;*/
    width:100%;
}

/* Portrait layout (default) */
.app {
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
    }
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.catinder-buttons div {
    display: inline-block;
}
.catinder-like {
    background-image: url(../img/like.png);
    width: 125px;
    height: 125px;
}
.catinder-dislike {
    background-image: url(../img/dislike.png);
    width: 125px;
    height: 125px;
    margin-right: 15px;
}
.catinder-picture-img {
    width: 300px;
}

.disliked {
    border: 3px solid red;
}
.liked {
    border: 3px solid green;
}

.catinder-picture-holder {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
    background-color: #FFFFFF;
}
.catinder-infos-holder, .catinder-buttons {
    text-align: center;
}
.catinder-infos-holder {
    height: 70px;
}
.catinder-infos {
    width: 300px;
    height: 60px;
    margin: 0 auto;
    padding: 0px 20px 0px 20px;
    background-color: #FFFFFF;
}
.catinder-infos-name {
    text-transform: capitalize;
}
.catinder-infos-age {
    padding-top: 10px;
}
.catinder-buttons {
    margin-top: 5px;
}
.catinder-favoris, .catinder-home {
    /*display: inline-block;*/
    /*vertical-align: top;*/
}
.catinder-favoris {
    display: none;
}
.catinder-favoris-li img {
    width: 150px;
}
.catinder-favoris-buttons {
    text-align: center;
}
.catinder-favoris-buttons div {
    display: inline-block;
    width: 100px;
    height: 100px;
}
.catinder-clear-loved {
    background-color: red;
}
.catinder-clear-hated {
    background-color: red;
}

.header-wrapper {
    height:70px;
    background-color: #FF4566;
}

.burger-button {
    background-image: url(../img/burger.png);
    width: 64px;
    height: 43px;
    top: 15px;
    left: 15px;
    position: absolute;
}

.sidebar {
    position: absolute;
    background-color: #FF4566;
    height: 100%;
    width: 200px;
    z-index: 2;
    margin-left: -206px;
    -moz-box-shadow: 5px 0px 5px 0px rgba(101, 101, 101, 0.5);
    -webkit-box-shadow: 5px 0px 5px 0px rgba(101, 101, 101, 0.5);
    -o-box-shadow: 5px 0px 5px 0px rgba(101, 101, 101, 0.5);
    box-shadow: 5px 0px 5px 0px rgba(101, 101, 101, 0.5);
    filter:progid:DXImageTransform.Microsoft.Shadow(color=rgba(101, 101, 101, 0.5), Direction=90, Strength=5);
}
.sidebar-list li {
    font-size: 2em;
    color: #FFFFFF;
    margin-bottom: 15px;
    text-decoration: underline;
}
.sidebar-li-menu {

}
ul {
    list-style-type: none;
}
p {
    margin: 0;
}
.refresh-button {
    padding: 10px;
    background-color: lightblue;
    width: 50px;
    margin: 0 auto;
}

html {
    height: 100%;
}

h1, .sidebar h2 {
    font-size: 3em;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:15px;
    text-align:center;
    color: #FFFFFF;
    text-transform: capitalize;
}

.catinder-profil {
    width: 340px;
    margin: 0 auto;
    margin-top: 25px;
}

.grow {
    transform: scale(3);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
}

.catinder-picture-holder-holder {
    display: relative;
}

.loader {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 220px;
    display: none;
    z-index: 3;
}

.fadeout {
    transform: scale(0.3);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
}

.button-grow {
    transform: scale(1.10);
    /*opacity: 0;*/
    transition: transform 0.1s;
}
.button-disgrow {
    transform: scale(1);
    /*opacity: 0;*/
    transition: transform 0.1s;
}
